<div class="slider-inner component-inner" role="region" aria-label="{{_globals._components._slider.ariaRegion}}" {{#if _globals._components._slider.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="slider-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        <div class="slider-holder clearfix">
            <div class="slider-scale-labels">
                <div class="slider-scale-start" tabindex="0" role="region">{{labelStart}}</div>
                <div class="slider-scale-end" tabindex="0" role="region">{{labelEnd}}</div>
            </div>
            <div class="slider-scale-numbers clearfix{{#if _showScaleIndicator}} scale-indicator{{/if}}">
                {{#each _items}}
                    <a href="#" tabindex="0" role="button" class="slider-scale-number{{#if correct}} correct-answer{{/if}}" style="left: {{sliderPosition @index}}%;" data-index="{{@index}}">{{value}}{{../_scaleLabel}}</a>
                {{/each}}
            </div>
            <div class="slider-bar-container">
                <div class="slider-bar component-item-color{{#unless _isEnabled}}{{#if _isCorrect}} correct{{else}} incorrect{{/if}}{{/unless}}">
                    <div class="slider-handle component-item-color component-item-text-color{{#if _showNumber}} show-number{{/if}}{{#if _raiseNumber}} raise-number{{/if}}" data-value="6" tabindex="-1" aria-hidden="true"></div>
                    <div class="slider-bar-indicator"></div>
                    {{#each _items}}
                        <a href="#" tabindex="0" role="button" class="slider-bar-number" style="left: {{sliderPosition @index}}%;" data-index="{{@index}}"></a>
                    {{/each}}
                </div>
            </div>
            <div class="slider-icons">
                <div class="slider-icon slider-correct-icon icon icon-tick"></div>
                <div class="slider-icon slider-incorrect-icon icon icon-cross"></div>
            </div>
        </div>
        <div class="buttons">
        </div>
    </div>
</div>
